<div class="home">

  <div class="slide-how-it-works">
    <div class="slideShow-container">
        <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets/images/slide01.jpg" alt="slide 01">
          <div class="carousel-caption">
            <!--<h3>First slide label</h3>-->
            <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/slide02.jpg" alt="slide 02">
          <div class="carousel-caption">
            <!--<h3>Second slide label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/slide03.jpg" alt="slide 03">
          <div class="carousel-caption">
            <!--<h3>Third slide label</h3>-->
            <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="how-it-works-details-container">
      <!--<div class="how-it-works-header">-->
        <!--<h2>How it works</h2>-->
      <!--</div>-->
      <div class="how-it-works-item">
        <img src="assets/images/ic_search_white.svg">
        <h3>Search for the suitable Jewellery!</h3>
      </div>
      <div class="how-it-works-item">
        <img src="assets/images/phone.svg">
        <h3>Call the vendor to get more details about it</h3>
      </div>
      <div class="how-it-works-item">
        <img src="assets/images/businessman-with-dollar-money-sign-icon.svg">
        <h3>Visit the vendor to buy the Jewellery!</h3>
      </div>
    </div>
  </div>

  <h3 class="jewellery-sliding-header">Latest Offers</h3>
  <div class="offers-container">
    <button [disabled]="translateValueLatestOffers == 0" (click)="arrow('latestOffers', 'left')">
      <img src="assets/images/arrow-left.svg" [ngStyle]="translateValueLatestOffers == 0 ? {'opacity': '0.7'}: ''">
    </button>
    <div class="overFlow-container">
      <jewellery-thumbnail [products]="deals" [translate]="translateValueLatestOffers"></jewellery-thumbnail>
    </div>
    <button [disabled]="translateValueLatestOffers <= -83" (click)="arrow('latestOffers', 'right')">
      <img src="assets/images/arrow-right.svg"
           [ngStyle]="translateValueLatestOffers <= -83 ? {'opacity': '0.7'}: ''">
    </button>
  </div>

  <h3 class="jewellery-sliding-header">Most Visited</h3>
  <div class="offers-container">
    <!--<div>-->
    <button [disabled]="translateValueMostVisited == 0" (click)="arrow('mostVisited', 'left')"
            [ngStyle]="translateValueMostVisited == 0 ? {'opacity': '0.7'}: ''">
      <img src="assets/images/arrow-left.svg">
    </button>
    <!--</div>-->
    <div class="overFlow-container">
      <jewellery-thumbnail [products]="mostVisited" [translate]="translateValueMostVisited"></jewellery-thumbnail>
    </div>
    <!--<div>-->
    <button [disabled]="translateValueMostVisited <= -83" (click)="arrow('mostVisited', 'right')">
      <img src="assets/images/arrow-right.svg"
           [ngStyle]="translateValueMostVisited <= -83 ? {'opacity': '0.7'}: ''">
    </button>
    <!--</div>-->
  </div>


</div>
