/* line 3, jewellery.home.component.scss */
.home {
  width: 70%;
  margin: 35px auto 0;
}
/* line 6, jewellery.home.component.scss */
.home .jewellery-sliding-header {
  position: relative;
  z-index: 50;
  padding: 10px 10px 10px 15px;
  font-size: 1.2em;
  background-color: #fff;
  text-align: center;
  width: 200px;
  border: 1px solid lightgrey;
  border-top: 3px solid #75FF75;
  border-bottom-color: #fff;
  margin-top: 50px;
  margin-bottom: -1px;
}
/* line 20, jewellery.home.component.scss */
.home .slide-how-it-works {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
/* line 24, jewellery.home.component.scss */
.home .slide-how-it-works .slideShow-container {
  width: 72%;
  border: 1px solid lightgrey;
}
/* line 27, jewellery.home.component.scss */
.home .slide-how-it-works .slideShow-container ngb-carousel {
  width: 100%;
}
/* line 32, jewellery.home.component.scss */
.home .slide-how-it-works .how-it-works-details-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 39, jewellery.home.component.scss */
.home .slide-how-it-works .how-it-works-details-container > .how-it-works-header {
  display: none;
  margin-top: 0;
}
/* line 43, jewellery.home.component.scss */
.home .slide-how-it-works .how-it-works-details-container .how-it-works-item {
  background-color: #fff;
  height: 150px;
  border: 1px solid lightgrey;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 53, jewellery.home.component.scss */
.home .slide-how-it-works .how-it-works-details-container .how-it-works-item img {
  height: 50px;
}
/* line 57, jewellery.home.component.scss */
.home .slide-how-it-works .how-it-works-details-container .how-it-works-item h3 {
  margin-top: 10px;
  text-align: center;
  width: 85%;
}
/* line 67, jewellery.home.component.scss */
.home .offers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #fff;
  border: 1px solid lightgrey;
}
/* line 76, jewellery.home.component.scss */
.home .offers-container button {
  background-color: transparent;
  cursor: pointer;
}
/* line 80, jewellery.home.component.scss */
.home .offers-container button:focus, .home .offers-container button:active {
  outline: 0;
}
/* line 83, jewellery.home.component.scss */
.home .offers-container button img {
  height: 25px;
}
/* line 87, jewellery.home.component.scss */
.home .offers-container .btn:focus {
  outline: 0;
}
/* line 90, jewellery.home.component.scss */
.home .offers-container .overFlow-container {
  overflow: hidden;
  height: 265px;
  width: 100%;
}
/* line 95, jewellery.home.component.scss */
.home .offers-container .overFlow-container jewellery-thumbnail {
  width: 400%;
}

/*******************/
/*Responsive styles*/
/*******************/
@media screen and (min-width: 1920px) {
  /* line 108, jewellery.home.component.scss */
  .home .slide-how-it-works {
    flex-direction: column;
    align-items: center;
  }
  /* line 111, jewellery.home.component.scss */
  .home .slide-how-it-works .slideShow-container {
    width: 1024px;
  }
  /* line 114, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container {
    width: 100%;
    flex-direction: row;
    margin-top: 35px;
  }
  /* line 119, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item {
    max-width: 30%;
  }
}
@media screen and (max-width: 1440px) {
  /* line 129, jewellery.home.component.scss */
  .home .slide-how-it-works {
    flex-direction: column;
  }
  /* line 131, jewellery.home.component.scss */
  .home .slide-how-it-works .slideShow-container {
    width: 100%;
  }
  /* line 133, jewellery.home.component.scss */
  .home .slide-how-it-works .slideShow-container ngb-carousel {
    width: 100%;
  }
  /* line 135, jewellery.home.component.scss */
  .home .slide-how-it-works .slideShow-container ngb-carousel img {
    width: 100%;
    height: 100%;
  }
  /* line 141, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 35px;
  }
  /* line 147, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item {
    max-width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 161, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  /* line 171, jewellery.home.component.scss */
  .home {
    width: 95%;
  }
  /* line 176, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 425px) {
  /* line 188, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container {
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  /* line 193, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item {
    max-width: 100%;
    height: 30%;
    flex-direction: row;
  }
  /* line 197, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item img {
    height: 70%;
    margin-right: 15px;
    margin-left: 15px;
  }
  /* line 202, jewellery.home.component.scss */
  .home .slide-how-it-works .how-it-works-details-container .how-it-works-item h3 {
    font-size: 0.9em;
    text-align: left;
  }
  /* line 211, jewellery.home.component.scss */
  .home .offers-container .overFlow-container jewellery-thumbnail {
    width: 1000%;
  }
  /* line 215, jewellery.home.component.scss */
  .home .offers-container button {
    display: none;
  }
  /* line 220, jewellery.home.component.scss */
  .home .jewellery-sliding-header {
    width: 100%;
  }
}
