/* line 3, customer.profile.styles.scss */
.customer-profile-container {
  width: 70%;
  background-color: #fff;
  margin: 0 auto;
  min-height: 500px;
  padding-bottom: 50px;
}
/* line 9, customer.profile.styles.scss */
.customer-profile-container h2 {
  padding-top: 50px;
  margin-left: 25px;
}
/* line 13, customer.profile.styles.scss */
.customer-profile-container .tabs {
  width: 80%;
  margin: 0 auto;
}
/* line 16, customer.profile.styles.scss */
.customer-profile-container .tabs form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* line 21, customer.profile.styles.scss */
.customer-profile-container .tabs form app-autocomplete {
  margin-bottom: 25px;
}
/* line 25, customer.profile.styles.scss */
.customer-profile-container .tabs h3 {
  margin-top: 15px;
  border-bottom: 1px solid #31004a;
  margin-bottom: 15px;
}
/* line 31, customer.profile.styles.scss */
.customer-profile-container .delete-container {
  width: 50%;
  margin: 0 auto 45px;
  display: flex;
  flex-direction: column;
}
/* line 36, customer.profile.styles.scss */
.customer-profile-container .delete-container button {
  margin-top: 15px;
  background-color: red;
}
/* line 41, customer.profile.styles.scss */
.customer-profile-container .note-for-user {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
/* line 45, customer.profile.styles.scss */
.customer-profile-container .note-for-user svg {
  width: 25px;
  height: 25px;
}
/* line 50, customer.profile.styles.scss */
.customer-profile-container .submit-button {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}

/*******************/
/*Responsive styles*/
/*******************/
@media screen and (max-width: 1024px) {
  /* line 60, customer.profile.styles.scss */
  .customer-profile-container {
    margin-top: 25px;
    border: 1px solid lightgrey;
  }
  /* line 64, customer.profile.styles.scss */
  .customer-profile-container .tabs form {
    width: 70%;
  }
  /* line 67, customer.profile.styles.scss */
  .customer-profile-container .tabs .delete-container {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  /* line 75, customer.profile.styles.scss */
  .customer-profile-container {
    width: 95%;
  }
  /* line 77, customer.profile.styles.scss */
  .customer-profile-container .tabs {
    width: 90%;
  }
  /* line 79, customer.profile.styles.scss */
  .customer-profile-container .tabs form {
    width: 100%;
  }
  /* line 82, customer.profile.styles.scss */
  .customer-profile-container .tabs .delete-container {
    width: 100%;
  }
}
