<div class="customer-profile-container">
  <h2>Profile settings</h2>
  <!--<md-tab-group class="tabs">-->
  <div class="tabs">
    <ngb-accordion #acc="ngbAccordion">
      <!--<md-tab label="Basic">-->
      <ngb-panel id="panel-1" title="Basics">
        <ng-template ngbPanelContent>
          <form #personalDataForm="ngForm" name="personalData"
                (ngSubmit)="profileForm.valid && updateProfileData(profileForm.value)" novalidate
                [formGroup]="profileForm">

            <h3>Basic info</h3>

            <md-input-container>
              <input type="text" name="name" mdInput formControlName="name" placeholder="Name">
            </md-input-container>

            <!--<md-input-container>-->
            <!--<input mdInput name="area" type="text" placeholder="Area/City" [mdAutocomplete]="areaAuto"-->
            <!--formControlName="area">-->
            <!--</md-input-container>-->

            <!--<md-autocomplete #areaAuto="mdAutocomplete">-->
            <!--<md-option *ngFor="let area of filteredAreas | async" [value]="area">-->
            <!--{{area}}-->
            <!--</md-option>-->
            <!--</md-autocomplete>-->

            <app-autocomplete [items]="areas" [itemType]="'area'"
                              (selectedItem)="selectedArea($event)"></app-autocomplete>
            <md-error *ngIf="area == ''">Select a valid area</md-error>

            <button md-button class="submit-button" type="submit" [disabled]="area==''">Submit</button>
          </form>
        </ng-template>
      </ngb-panel>
      <!--</md-tab>-->
      <!--<md-tab label="Contact">-->
      <ngb-panel id="panel-2" title="Contact">
        <ng-template ngbPanelContent>
          <form #phoneNumberForm="ngForm" name="phoneNumberForm"
                (ngSubmit)="phoneNumberForm.valid && updateProfileData(phoneNumberForm.value)">

            <h3>Phone number</h3>

            <md-input-container>
              <input type="text" mdInput placeholder="Primary Phone number" name="phoneNumber"
                     [(ngModel)]="currentCustomer.telephone1">
            </md-input-container>

            <md-input-container>
              <input placeholder="Secondary phone number (optional)" mdInput type="text" name="phoneNumber2"
                     [(ngModel)]="currentCustomer.telephone2">
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Secondary phone number (optional)" mdInput name="phoneNumber3"
                     [(ngModel)]="currentCustomer.telephone3">
            </md-input-container>

            <button md-button class="submit-button" type="submit">Submit</button>
          </form>
        </ng-template>
      </ngb-panel>
      <!--</md-tab>-->
      <!--<md-tab label="Password">-->
      <ngb-panel id="panel-3" title="Password">
        <ng-template ngbPanelContent>
          <form #passwordForm="ngForm" name="passwordForm"
                (ngSubmit)="passwordForm.valid && saveNewPassword(passwordForm.value.newPasword)">
            <h3>Change password</h3>

            <md-input-container>
              <input placeholder="Old password" mdInput type="password" name="password" (ngModel)="password" required>
            </md-input-container>

            <md-input-container>
              <input placeholder="New password" mdInput type="password" name="newPasword" (ngModel)="newPasword"
                     required>
            </md-input-container>

            <md-input-container>
              <input placeholder="Re-type new password" mdInput type="password" name="renewPasword"
                     (ngModel)="renewPasword"
                     required>
            </md-input-container>

            <em
              *ngIf="passwordForm.controls.newPasword?.valid && passwordForm.value.newPasword === passwordForm.value.renewPasword">Matched</em>
            <em
              *ngIf="passwordForm.controls.newPasword?.valid && passwordForm.value.newPasword !== passwordForm.value.renewPasword">Not
              Matched</em>
            <em *ngIf="passwordForm.submitted && passwordForm.controls.newPasword?.invalid">this field required</em>

            <button
              [disabled]="passwordForm.controls.newPasword?.valid && passwordForm.value.newPasword !== passwordForm.value.renewPasword"
              md-button class="submit-button"
              type="submit">Submit
            </button>
          </form>
        </ng-template>
      </ngb-panel>
      <!--</md-tab>-->
      <!--<md-tab label="Email">-->
      <ngb-panel id="panel-4" title="Email">
        <ng-template ngbPanelContent>
          <form #emailForm="ngForm" name="emailForm" (ngSubmit)="emailForm.valid && updateProfileData(emailForm.value)">

            <h3>Change email</h3>

            <md-input-container>
              <input placeholder="Email" mdInput type="email" name="email" (ngModel)="currentCustomer.email" required>
              <em *ngIf="emailForm.submitted && emailForm.controls?.email.invalid">this field required</em>
            </md-input-container>

            <button md-button class="submit-button" type="submit">Submit</button>
          </form>
        </ng-template>
      </ngb-panel>
      <!--</md-tab>-->
      <!--<md-tab label="Deactivate">-->
      <ngb-panel id="panel-5" title="Deactivate">
        <ng-template ngbPanelContent>
          <div class="delete-container">
            <h3>Delete account</h3>
            <button md-button class="submit-button" type="button" (click)="deleteAccount()">Delete Account</button>
          </div>
          <div class="note-for-user">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-61 285 24 24">
              <defs>
                <style>.a {
                  fill: none;
                }

                .b {
                  fill: red;
                }</style>
              </defs>
              <g transform="translate(-61 285)">
                <path class="a" d="M0,0H24V24H0Z"/>
                <path class="b" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,15H11V11h2Zm0-8H11V7h2Z"/>
              </g>
            </svg>
            <p>
              Account cannot be retrieved after being deleted
            </p>
          </div>
        </ng-template>
      </ngb-panel>
      <!--</md-tab>-->
    </ngb-accordion>
    <!--</md-tab-group>-->
  </div>
</div>
