@import "../../../assets/stylesheets/colors-theme.scss";

.seller-profile-edit-container {
  display: flex;
  flex-direction: column;
  width: $appWidth;
  margin: 25px auto 0;
  padding-bottom: 50px;
  .form-section {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 30px;
    button {
      width: 200px;
      margin: 25px auto 0;
      @include button-default;
      &:hover {
        @include button-focused;
      }
    }
    .logo-image-container {
      margin-bottom: 35px;
      img {
        display: inline;
        width: 50%;
      }
      button {
        display: inline;
      }
    }
  }
  .upload-logo-btn {
    text-align: center;
    cursor: pointer;
    padding: 7px;
    width: 200px;
    box-sizing: border-box;
    transition: 0.25s all;
    @include button-default;
    &:hover {
      transition: 0.25s all;
      @include button-focused;
    }
  }
  .alert {
    margin-top: 25px;
  }
  .note-for-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    svg {
      width: 25px;
      .a {
        fill: white;
      }
      .b {
        fill: red;
      }
    }
    p {
      //border: 1px solid black;
      margin-bottom: 0;
    }
  }
  .deactivate-tab {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid black;
    button {
      color: white;
      //width: 300px;
      //height: 50px;
      margin-top: 15px;
      background-color: red;
    }
  }
}

/*******************/
/*Responsive styles*/
/*******************/

@media screen and (max-width: 1024px) {
  .seller-profile-edit-container {
    width: 100%;
  }
}
