/* line 3, seller.profile.edit.styles.scss */
.seller-profile-edit-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 25px auto 0;
  padding-bottom: 50px;
}
/* line 9, seller.profile.edit.styles.scss */
.seller-profile-edit-container .form-section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 30px;
}
/* line 16, seller.profile.edit.styles.scss */
.seller-profile-edit-container .form-section button {
  width: 200px;
  margin: 25px auto 0;
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}
/* line 20, seller.profile.edit.styles.scss */
.seller-profile-edit-container .form-section button:hover {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
/* line 24, seller.profile.edit.styles.scss */
.seller-profile-edit-container .form-section .logo-image-container {
  margin-bottom: 35px;
}
/* line 26, seller.profile.edit.styles.scss */
.seller-profile-edit-container .form-section .logo-image-container img {
  display: inline;
  width: 50%;
}
/* line 30, seller.profile.edit.styles.scss */
.seller-profile-edit-container .form-section .logo-image-container button {
  display: inline;
}
/* line 35, seller.profile.edit.styles.scss */
.seller-profile-edit-container .upload-logo-btn {
  text-align: center;
  cursor: pointer;
  padding: 7px;
  width: 200px;
  box-sizing: border-box;
  transition: 0.25s all;
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}
/* line 43, seller.profile.edit.styles.scss */
.seller-profile-edit-container .upload-logo-btn:hover {
  transition: 0.25s all;
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
/* line 48, seller.profile.edit.styles.scss */
.seller-profile-edit-container .alert {
  margin-top: 25px;
}
/* line 52, seller.profile.edit.styles.scss */
.seller-profile-edit-container .note-for-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
/* line 57, seller.profile.edit.styles.scss */
.seller-profile-edit-container .note-for-user svg {
  width: 25px;
}
/* line 59, seller.profile.edit.styles.scss */
.seller-profile-edit-container .note-for-user svg .a {
  fill: white;
}
/* line 62, seller.profile.edit.styles.scss */
.seller-profile-edit-container .note-for-user svg .b {
  fill: red;
}
/* line 66, seller.profile.edit.styles.scss */
.seller-profile-edit-container .note-for-user p {
  margin-bottom: 0;
}
/* line 71, seller.profile.edit.styles.scss */
.seller-profile-edit-container .deactivate-tab {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 78, seller.profile.edit.styles.scss */
.seller-profile-edit-container .deactivate-tab button {
  color: white;
  width: 300px;
  height: 50px;
  margin-top: 15px;
  background-color: red;
}
