<div class="small-screen-search-backdrop" [hidden]="toggleBackdrop" (click)="toggleSearchForm()">

</div>

<button class="small-width-search-btn" (click)="toggleSearchForm()">
  <img src="assets/images/search-icon.svg">
</button>

<md-icon svgIcon="arrow" class="arrow-icon" [hidden]="toggleBackdrop"></md-icon>

<form #searchProductAndPlaceForm="ngForm" autocomplete="off"
      (ngSubmit)="searchProductAndarea(searchProductAndPlaceForm.value)"
      class="serching-form" novalidate [formGroup]="searchForm" [ngClass]="toggleSearchFormClass">

  <label>Find</label>

  <md-input-container floatPlaceholder="never">
    <input mdInput name="productName" type="text" placeholder="ring, necklace, etc ..."
           [mdAutocomplete]="productNameAuto"
           formControlName="productName">
  </md-input-container>

  <md-autocomplete #productNameAuto="mdAutocomplete">
    <md-option *ngFor="let type of filteredTypes | async" [value]="type">
      {{type}}
    </md-option>
  </md-autocomplete>

  <label>at</label>

  <md-input-container floatPlaceholder="never">
    <input mdInput name="area" type="text" dir="rtl" placeholder="مصر الجديده, مدينة نصر, ..."
           [mdAutocomplete]="areaAuto"
           formControlName="area">
  </md-input-container>

  <md-autocomplete #areaAuto="mdAutocomplete">
    <md-option *ngFor="let type of filteredAreas | async" [value]="type">
      {{type}}
    </md-option>
  </md-autocomplete>

  <button
    [disabled]="searchForm.controls.productName?.errors?.required && !sellerName && searchForm.controls.area?.errors?.required"
    type="submit"
    class="btn">
    <img src="assets/images/search-icon.svg">
  </button>

</form>

