@import "../../../assets/stylesheets/colors-theme.scss";

.small-width-search-btn {
  display: none;
}

.arrow-icon {
  display: none;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  //border: 1px solid black;
  app-autocomplete {
    width: 100%;
    margin-bottom: 8px;
    //border: 1px solid black;
  }
  .search-terms {
    display: flex;
    flex-direction: column;
    width: 100%;
    //border: 1px solid black;
    .types-container {
      display: flex;
      flex-direction: row;
      //border: 1px solid black;
      width: 100%;
      margin-right: 0;
      .single-type {
        margin-left: 15px;
        label {
          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  button {
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    img {
      width: 35px;
    }
    .btn:focus {
      outline: none;
    }
  }
}

/*******************/
/*Responsive styles*/
/*******************/

@media screen and (max-width: 1440px) {
  form {
    md-input-container {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 1024px) {
  .arrow-icon {
    display: block;
    position: fixed;
    z-index: 99;
    top: 70px;
    right: 19%;
    transform: rotate(-90deg);
  }
  .small-screen-search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  form {
    border-radius: 5px;
    z-index: 99;
    position: fixed;
    left: 15%;
    top: 90px;
    background-color: $bgcolor;
    width: $appWidth;
    height: 80px;
    app-autocomplete {
      margin-left: 5px;
    }
  }
  .hidden-form {
    display: none;
  }
  .shown-form {
    //top: 50px;
    //right: 10px;
    display: flex;
    //border: 1px solid black;
  }
  .small-width-search-btn {
    float: right;
    //border: 1px solid black;
    margin-right: 0;
    display: block;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    img {
      width: 35px;
    }
    .btn:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .arrow-icon {
    right: 20%;
  }
  form {
    .search-terms {
      .types-container {
        flex-wrap: wrap;
        .single-type {
          width: 35%;
          label {
            width: 110px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .arrow-icon {
    right: 10%;
  }
  form {
    left: 5%;
    width: 90%;
    .search-terms {
      .types-container {
        width: 100%;
        .single-type {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .arrow-icon {
    right: 15%;
  }
}
