/* line 3, jewellery.search.form.styles.scss */
.small-width-search-btn {
  display: none;
}

/* line 7, jewellery.search.form.styles.scss */
.arrow-icon {
  display: none;
}

/* line 11, jewellery.search.form.styles.scss */
form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
/* line 17, jewellery.search.form.styles.scss */
form app-autocomplete {
  width: 100%;
  margin-bottom: 8px;
}
/* line 22, jewellery.search.form.styles.scss */
form .search-terms {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* line 27, jewellery.search.form.styles.scss */
form .search-terms .types-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 0;
}
/* line 33, jewellery.search.form.styles.scss */
form .search-terms .types-container .single-type {
  margin-left: 15px;
}
/* line 36, jewellery.search.form.styles.scss */
form .search-terms .types-container .single-type label span {
  text-transform: capitalize;
}
/* line 43, jewellery.search.form.styles.scss */
form button {
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* line 48, jewellery.search.form.styles.scss */
form button img {
  width: 35px;
}
/* line 51, jewellery.search.form.styles.scss */
form button .btn:focus {
  outline: none;
}

/*******************/
/*Responsive styles*/
/*******************/
@media screen and (max-width: 1440px) {
  /* line 63, jewellery.search.form.styles.scss */
  form md-input-container {
    font-size: 1em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 70, jewellery.search.form.styles.scss */
  .arrow-icon {
    display: block;
    position: fixed;
    z-index: 99;
    top: 70px;
    right: 19%;
    transform: rotate(-90deg);
  }

  /* line 78, jewellery.search.form.styles.scss */
  .small-screen-search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  /* line 87, jewellery.search.form.styles.scss */
  form {
    border-radius: 5px;
    z-index: 99;
    position: fixed;
    left: 15%;
    top: 90px;
    background-color: #fff;
    width: 70%;
    height: 80px;
  }
  /* line 96, jewellery.search.form.styles.scss */
  form app-autocomplete {
    margin-left: 5px;
  }

  /* line 100, jewellery.search.form.styles.scss */
  .hidden-form {
    display: none;
  }

  /* line 103, jewellery.search.form.styles.scss */
  .shown-form {
    display: flex;
  }

  /* line 109, jewellery.search.form.styles.scss */
  .small-width-search-btn {
    float: right;
    margin-right: 0;
    display: block;
    width: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  /* line 118, jewellery.search.form.styles.scss */
  .small-width-search-btn img {
    width: 35px;
  }
  /* line 121, jewellery.search.form.styles.scss */
  .small-width-search-btn .btn:focus {
    outline: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 128, jewellery.search.form.styles.scss */
  .arrow-icon {
    right: 20%;
  }

  /* line 133, jewellery.search.form.styles.scss */
  form .search-terms .types-container {
    flex-wrap: wrap;
  }
  /* line 135, jewellery.search.form.styles.scss */
  form .search-terms .types-container .single-type {
    width: 35%;
  }
  /* line 137, jewellery.search.form.styles.scss */
  form .search-terms .types-container .single-type label {
    width: 110px;
  }
}
@media screen and (max-width: 425px) {
  /* line 147, jewellery.search.form.styles.scss */
  .arrow-icon {
    right: 10%;
  }

  /* line 150, jewellery.search.form.styles.scss */
  form {
    left: 5%;
    width: 90%;
  }
  /* line 154, jewellery.search.form.styles.scss */
  form .search-terms .types-container {
    width: 100%;
  }
  /* line 156, jewellery.search.form.styles.scss */
  form .search-terms .types-container .single-type {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  /* line 165, jewellery.search.form.styles.scss */
  .arrow-icon {
    right: 15%;
  }
}
