/* line 3, jewellery.thumbnail.styles.scss */
.product-thumbnail-container {
  transition: transform 0.5s ease-in-out;
  display: flex;
  width: inherit;
  height: inherit;
  flex-wrap: inherit;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
/* line 14, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail {
  box-sizing: border-box;
  text-align: center;
  margin: 5px 3px;
  width: 19%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid lightgrey;
  transition: 0.3s all;
}
/* line 32, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail:hover {
  transition: 0.5s all;
  box-sizing: border-box;
  border: 1px solid #586D8C;
}
/* line 38, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .card-details h3:last-child {
  margin-top: 20px;
}
/* line 40, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .card-details h3:last-child span {
  font-size: 0.6em;
}
/* line 45, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* line 49, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
/* line 54, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container button img {
  height: 25px;
  width: 25px;
}
/* line 59, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container button:first-child {
  color: #31004a;
  transition: 0.5s all;
}
/* line 62, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container button:first-child:hover {
  border-bottom: 1px solid #31004a;
  transition: 0.5s all;
}
/* line 67, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container button:last-child {
  color: red;
  transition: 0.5s all;
}
/* line 70, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .button-container button:last-child:hover {
  border-bottom: 1px solid red;
  transition: 0.5s all;
}
/* line 76, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail img {
  width: 100px;
}
/* line 79, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail h3 {
  word-wrap: break-word;
  width: 80%;
  margin: 5px auto;
}
/* line 84, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .product-thumbnail .fav-btn {
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 90, jewellery.thumbnail.styles.scss */
.product-thumbnail-container .alert-body {
  display: flex;
  align-items: center;
}

/*******************/
/*Responsive styles*/
/*******************/
@media screen and (max-width: 425px) {
  /* line 103, jewellery.thumbnail.styles.scss */
  .product-thumbnail-container .product-thumbnail {
    width: 45%;
  }
}
