


<div class="modal-header">
  <h4 class="modal-title">{{product.productName || 'Add new Jewellery'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dialogRef.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form autocomplete="off" #productForm="ngForm" novalidate
      (ngSubmit)="product.type && product.goldDegree && productForm.valid && publishProduct(productForm.value)"
      md-dialog-content>

  <div class="form-field-container">
    <md-input-container>
      <input type="text" mdInput name="productName" placeholder="Product Name..." [(ngModel)]="product.productName"
             class="last-child" required>
    </md-input-container>
    <em *ngIf="productForm.submitted && productForm.controls?.productName.invalid">This field is required</em>
  </div>

  <div class="form-field-container">
    <label for="imagesInput" class="upload-btn">Upload Photos</label>
    <em *ngIf="productForm.submitted && !imageUrlValid">Product image required</em>
  </div>

  <input type="file" name="imageUrl" (change)="getImageUrl($event)" multiple id="imagesInput" accept="image/*"
         style="display: none">

  <div class="prod-img-thumbnail-container">
    <div *ngFor="let image of imagesFilesList">
      <h5>{{image?.name}}</h5>
      <img [src]="image?.url">
      <button (click)="deleteImage(image)" md-raised-button>Delete image</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <h4>product type</h4>
    <button class="btn btn-outline-primary" type="button" id="dropdownBasic1" ngbDropdownToggle>{{product.type ?
      product.type :
      '-Choose product type-'}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
      <button type="button" class="dropdown-item" *ngFor="let type of productTypes" (click)="setType(type)">{{type}}
      </button>
    </div>
    <em *ngIf="productForm.submitted && product.type == undefined" style="display: block">this field required</em>
  </div>

  <div class="form-field-container">
    <md-input-container>
      <input title="price" type="number" name="price" mdInput [(ngModel)]="product.price"
             placeholder="Price for 1 gram " required>
    </md-input-container>
    <em *ngIf="productForm.submitted && productForm.controls?.price.invalid">This field is required</em>
  </div>

  <div class="form-field-container">
    <!--<md-select name="goldDegree" [(ngModel)]="product.goldDegree" placeholder="Gold Degree" required>-->
    <!--<md-option *ngFor="let gold of goldDegrees" [value]="gold">{{gold}}</md-option>-->
    <!--</md-select>-->

    <div ngbDropdown class="d-inline-block">
      <h4>product type</h4>
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{product.goldDegree ?
        product.goldDegree :
        '-Choose gold degree-'}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
        <button type="button" class="dropdown-item" *ngFor="let type of goldDegrees" (click)="setGoldDegree(type)">
          {{type}}
        </button>
      </div>
    </div>
    <em *ngIf="productForm.submitted && productForm.value.goldDegree == undefined">This field is
      required</em>
  </div>

  <div class="dialog-buttons">
    <button (click)="closeDialog()" class="btn btn-default close-btn">Close</button>
    <button class="btn btn-primary submit" type="submit">Submit</button>
  </div>
</form>
