/* line 3, seller.add.product.styles.scss */
form {
  display: flex;
  flex-direction: column;
  margin: 25px auto 0;
  width: 80%;
  height: 100%;
}
/* line 9, seller.add.product.styles.scss */
form .form-field-container {
  margin-bottom: 25px;
  width: 100%;
}
/* line 12, seller.add.product.styles.scss */
form .form-field-container > * {
  width: 100%;
}
/* line 17, seller.add.product.styles.scss */
form .d-inline-block > button {
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}
/* line 19, seller.add.product.styles.scss */
form .d-inline-block > button:hover {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
/* line 24, seller.add.product.styles.scss */
form .upload-btn {
  padding: 5px;
  cursor: pointer;
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}
/* line 28, seller.add.product.styles.scss */
form .upload-btn:hover {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
/* line 32, seller.add.product.styles.scss */
form .prod-img-thumbnail-container {
  margin-bottom: 25px;
}
/* line 34, seller.add.product.styles.scss */
form .prod-img-thumbnail-container img {
  width: 150px;
  margin-bottom: 15px;
}
/* line 39, seller.add.product.styles.scss */
form .dialog-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px !important;
  margin-top: 35px;
  padding-bottom: 25px;
}
