<div class="jewellery-filter-container" *ngIf="products?.length">

  <div class="button-group">
    <button *ngFor="let typeAndCount of typesAndCounts" md-raised-button
            [ngClass]="applySelectedBtnClass(typeAndCount.type)" (click)="assignType(typeAndCount.type)">
      {{typeAndCount.type}}({{typeAndCount.count}})
    </button>
    <button *ngIf="typesAndCounts?.length > 1" (click)="assignType('All')" [ngClass]="applySelectedBtnClass('All')"
            md-raised-button>All Products
    </button>
  </div>

  <div>
    <md-select [(ngModel)]="selectedDegree" [placeholder]="'Filter by gold degree'" (change)="filterByTerms()">
      <md-option [value]="'All'">All</md-option>
      <md-option *ngFor="let goldDegree of goldDegrees" [value]="goldDegree">{{goldDegree}}</md-option>
    </md-select>

    <md-select [(ngModel)]="priceSort" [placeholder]="'Sort by price'" (change)="sortByPrice()">
      <md-option [value]="'Lowest first'">Lowest first</md-option>
      <md-option [value]="'Highest first'">Highest first</md-option>
    </md-select>
  </div>
</div>
