<div class="jewellery-filter-container" *ngIf="products?.length">

  <div class="button-group">
    <button *ngFor="let typeAndCount of typesAndCounts" md-raised-button
            [ngClass]="applySelectedBtnClass(typeAndCount.type)" (click)="assignType(typeAndCount.type)">
      {{typeAndCount.type}}({{typeAndCount.count}})
    </button>
    <button *ngIf="typesAndCounts?.length > 1" (click)="assignType('All')" [ngClass]="applySelectedBtnClass('All')"
            md-raised-button>All Products
    </button>
  </div>

  <div>

    <div ngbDropdown class="d-inline-block">
      <h4>Gold degree</h4>
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedDegree}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
        <button class="dropdown-item" *ngFor="let goldDegree of goldDegrees" (click)="setGoldDegree(goldDegree)">
          {{goldDegree}}
        </button>
        <button class="dropdown-item" (click)="setGoldDegree('All')">All</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block select-button">
      <h4>Sort by price</h4>
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{priceSort}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
        <button class="dropdown-item" (click)="setPriceSort('Lowest first')">Lowest first</button>
        <button class="dropdown-item" (click)="setPriceSort('Highest first')">Highest first</button>
      </div>
    </div>

  </div>
</div>
