<div class="jewellery-details">

  <div class="title-id-container">
    <div class="name-and-price">
      <div class="name-and-fav">
        <h2>{{jewelleryDetails.productName}}</h2>
        <jewellery-favourite-button *ngIf="showFavouriteBtn" [product]="jewelleryDetails"
                                    [isFavourite]="favouriteBtnStatus(jewelleryDetails)"></jewellery-favourite-button>
      </div>
      <h2><strong>{{jewelleryDetails.price}} <span>EGP/gm</span></strong></h2>
    </div>
    <p>Jewellery id: {{jewelleryDetails.id}}</p>
  </div>

  <div class="images-description-container">
    <div class="all-images-container">
      <img [src]="selectedImage.url">
      <div class="images-list">
        <img [src]="image.url" *ngFor="let image of jewelleryDetails.imageUrl" [ngClass]="selectedImageClass(image)"
             (click)="applySelectedImage(image)">
      </div>
    </div>
    <p>{{jewelleryDetails.description}}</p>
  </div>

  <seller-thumbnail [sellerDetails]="jewelleryDetails.sellerDetails"></seller-thumbnail>

</div>
