@import "../../assets/stylesheets/colors-theme.scss";

.jewellery-details {
  display: flex;
  flex-direction: column;
  width: $appWidth;
  margin: 0 auto;
  background-color: $bgcolor;
  padding-bottom: 25px;
  //border: 1px solid black;
  .title-id-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 50px;
    span {
      font-size: 0.6em;
      text-transform: none;
    }
    .name-and-price {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $dcolor;
      //flex-direction: column;
      .name-and-fav {
        display: flex;
        align-items: center;
      }
    }
  }
  .images-description-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    .all-images-container {
      display: block;
      img {
        width: 75%;
        display: block;
        margin: 0 auto;
      }
      .images-list {
        text-align: center;
        img {
          display: inline-block;
          width: 25%;
          margin: 1%;
          border: 1px solid $dcolor;
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            opacity: 0.7;
            transition: all 0.5s;
          }
        }
      }
    }
    p {
      margin-top: 50px;
      text-align: center;
    }
  }
  .selectedimage {
    opacity: 0.5;
  }
  seller-thumbnail {
    margin: 0 auto;
    width: 90%;
  }
}

/*******************/
/*Responsive styles*/
/*******************/

@media screen and (max-width: 1024px) {
  .jewellery-details {
    margin-top: 25px;
    border: 1px solid $borderColor;
    .title-id-container {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 425px) {
  .jewellery-details {
    width: $smallScreenWidth;
    .title-id-container {
      .name-and-price {
        flex-wrap: wrap;
      }
    }
  }
}
