/* line 3, seller.list.styles.scss */
.sellers-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
/* line 9, seller.list.styles.scss */
.sellers-list-container .warning {
  width: 100%;
}
/* line 12, seller.list.styles.scss */
.sellers-list-container form {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 0;
  background-color: #eee;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 24, seller.list.styles.scss */
.sellers-list-container form .field {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
}
/* line 32, seller.list.styles.scss */
.sellers-list-container form .field md-input-container {
  width: 100%;
}
/* line 38, seller.list.styles.scss */
.sellers-list-container p img {
  height: 25px;
}
/* line 42, seller.list.styles.scss */
.sellers-list-container seller-thumbnail {
  width: 100%;
}
/* line 45, seller.list.styles.scss */
.sellers-list-container ngb-pagination {
  margin-top: 35px;
}

@media screen and (max-width: 425px) {
  /* line 51, seller.list.styles.scss */
  .sellers-list-container {
    width: 95%;
  }
}
