<md-card (click)="routeToSellerDetails(sellerDetails.id)">
  <div class="seller-name-verification-container">
    <h2>{{sellerDetails.name}}</h2>
    <h3 *ngIf="sellerDetails.verified"><img src="assets/images/check-circle-icon.svg">Verified</h3>
    <h3 *ngIf="!sellerDetails.verified" class="not-verified"><img src="assets/images/cross-icon.svg">Not Verified
    </h3>
  </div>

  <div class="logo-and-details-container">
    <!--<div class="overflow">-->
    <img [src]="sellerDetails?.imageUrl">
    <!--</div>-->

    <div class="products-count-container">
      <h4><img src="assets/images/wedding-ring.svg"> Rings: <span class="badge badge-default">{{sellerDetails?.ringCount}}</span>
      </h4>
      <h4><img src="assets/images/necklace-icon.svg"> Necklaces: <span class="badge badge-default">{{sellerDetails?.necklaceCount}}</span>
      </h4>
      <h4><img src="assets/images/bracelet-icon.svg"> Bracelets: <span class="badge badge-default">{{sellerDetails?.braceletCount}}</span>
      </h4>
      <h4><img src="assets/images/earrings-icon.svg"> Earrings: <span class="badge badge-default">{{sellerDetails?.earringCount}}</span>
      </h4>
      <h4><img src="assets/images/different-icon.svg"> Others: <span class="badge badge-default">{{sellerDetails?.otherCount}}</span>
      </h4>
    </div>

    <div class="contacts-container">
      <h3 *ngIf="sellerDetails.telephone1"><img src="assets/images/phone-icon.svg">{{sellerDetails.telephone1}}</h3>
      <h3 *ngIf="sellerDetails.telephone2"><img src="assets/images/phone-icon.svg">{{sellerDetails?.telephone2}}
      </h3>
      <!--<h3>{{sellerDetails?.address}}</h3>-->
      <h3><img src="assets/images/location-icon.svg">{{sellerDetails?.area}}</h3>
    </div>
  </div>

</md-card>
