<div class="modal-header">
  <h4 class="modal-title">Welcome, Signup...</h4>
  <button type="button" class="close" aria-label="Close" *ngIf="userType === 'Customer'" (click)="toggleSignInFlag()">
    <span aria-hidden="true">&times;</span>
  </button>
  <button type="button" class="close" aria-label="Close" *ngIf="userType === 'Vendor``'" (click)="closeInDialogCase()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--<h3 *ngIf="userType === 'Vendor'">Welcome, Signup as a Vendor</h3>-->

<form name="signUpForm" [formGroup]="signupForm" autocomplete="off"
      (ngSubmit)="signupForm.valid && signupForm.value.password === signupForm.value.password2 && signUp(signupForm.value)"
      novalidate>
  <md-input-container>
    <input type="text" mdInput formControlName="userName" name="userName" placeholder="Your Name"
           required>
    <md-error>this field required</md-error>
  </md-input-container>

  <md-input-container>
    <input type="email" mdInput formControlName="email" name="email" placeholder="Email..." required>
    <md-error>this field required</md-error>
  </md-input-container>

  <!--/****************** Fields for vendor sign up only *******************/-->
  <div *ngIf="userType === 'Vendor'">

    <label>Area</label>
    <app-autocomplete [items]="areas" [itemType]="'area'" (selectedItem)="selectedArea($event)"></app-autocomplete>

    <md-error *ngIf="area == ''">Select valid area</md-error>

    <md-input-container>
      <input type="number" mdInput formControlName="phoneNumber" name="phoneNumber" placeholder="Phone Number..."
             required>
      <md-error>this field required</md-error>
    </md-input-container>
  </div>
  <!--/******************************************************************/-->

  <md-input-container>
    <input mdInput type="password" formControlName="password" name="password" placeholder="Password..." required>
    <md-error>this field required</md-error>
  </md-input-container>

  <md-input-container>
    <input mdInput type="password" formControlName="password2" name="password_2" placeholder="Re-Enter password..."
           required>

    <md-error>this field required</md-error>
  </md-input-container>
  <div class="match-msg">
    <em class="matched"
        *ngIf="password2.valid && signupForm.value?.password === signupForm.value?.password2">Password matched</em>
    <em class="not-matched"
        *ngIf="password2.valid && signupForm.value?.password !== signupForm.value?.password2">Password Not
      matched</em>
  </div>

  <div class="buttons-container">
    <button type="button" (click)="toggleSignInFlag()" *ngIf="userType === 'Customer'"
            class="btn btn-default close-btn">Close
    </button>
    <button type="button" (click)="closeInDialogCase()" *ngIf="userType === 'Vendor'"
            class="btn btn-default close-btn">Close
    </button>
    <button type="submit" class="btn btn-primary submit">Submit
    </button>
  </div>

</form>
