/* line 3, jewellery.list.styles.scss */
jewellery-full-option {
  width: 70%;
}

@media screen and (max-width: 425px) {
  /* line 8, jewellery.list.styles.scss */
  jewellery-full-option {
    margin-top: 50px;
    width: 95%;
  }
}
