@import "../../assets/stylesheets/colors-theme";

footer {
  //height: 150px;
  padding-top: 25px;
  font-weight: 100;
  background-color: $dcolor;
  color: $lcolor;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 50px;
    a {
      margin: 0 15px;
      cursor: pointer;
    }
  }
  p {
    margin: 0;
    text-align: center;
    a {
      //text-decoration: none;
      color: $bgcolor;
      transition: 0.3s all;
      &:hover {
        color: #fff;
        transition: 0.5s all;
      }
    }
  }
}
