/* line 3, signin.signup.styles.scss */
.log-in-sign-up {
  overflow: hidden;
  width: 300px;
  margin: 200px auto 0;
  position: relative;
  z-index: 101;
}
/* line 11, signin.signup.styles.scss */
.log-in-sign-up .titles {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-around;
}
/* line 16, signin.signup.styles.scss */
.log-in-sign-up .titles h3 {
  color: white;
  cursor: pointer;
}
/* line 21, signin.signup.styles.scss */
.log-in-sign-up .arrow-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  color: #fff;
  top: 25px;
  left: 80px;
  transition: 0.3s all;
  transform: rotate(270deg);
}
/* line 32, signin.signup.styles.scss */
.log-in-sign-up .forms {
  box-sizing: border-box;
  transition: 0.3s all;
  position: relative;
  z-index: 101;
  width: 200%;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
}
/* line 43, signin.signup.styles.scss */
.log-in-sign-up .forms form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
}
/* line 53, signin.signup.styles.scss */
.log-in-sign-up .forms form .vendors-note {
  text-align: center;
}
/* line 55, signin.signup.styles.scss */
.log-in-sign-up .forms form .vendors-note md-icon {
  position: relative;
  top: 5px;
}
/* line 60, signin.signup.styles.scss */
.log-in-sign-up .forms form md-input-container {
  width: 100%;
}
/* line 63, signin.signup.styles.scss */
.log-in-sign-up .forms form .customer-vendor-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
/* line 71, signin.signup.styles.scss */
.log-in-sign-up .forms form .buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* line 75, signin.signup.styles.scss */
.log-in-sign-up .forms form .buttons-container button:last-child {
  background-color: #586D8C;
}
/* line 79, signin.signup.styles.scss */
.log-in-sign-up .forms form .match-msg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 84, signin.signup.styles.scss */
.log-in-sign-up .forms form .match-msg em {
  font-size: 0.9em;
  font-weight: bold;
}
/* line 88, signin.signup.styles.scss */
.log-in-sign-up .forms form .match-msg .matched {
  color: #31004a;
}
/* line 91, signin.signup.styles.scss */
.log-in-sign-up .forms form .match-msg .not-matched {
  color: red;
}
/* line 96, signin.signup.styles.scss */
.log-in-sign-up .forms .login-form {
  height: 280px;
}
/* line 99, signin.signup.styles.scss */
.log-in-sign-up .forms signUp {
  box-sizing: border-box;
  width: 100%;
}
/* line 105, signin.signup.styles.scss */
.log-in-sign-up .typeButtonSelected {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
/* line 108, signin.signup.styles.scss */
.log-in-sign-up .typeButtonNotSelected {
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}

/* line 113, signin.signup.styles.scss */
.sign-in-background {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
