<div class="seller-details-container">

  <div class="seller-cover-img">
    <div class="overFlow-container">
      <img [src]="sellerDetails.imageUrl">
    </div>

    <div class="name-and-verification">
      <h2>{{sellerDetails.name}}</h2>
      <h3 *ngIf="sellerDetails.verified"><img src="assets/images/check-circle-icon.svg">Verified</h3>
      <h3 *ngIf="!sellerDetails.verified"><img src="assets/images/cross-icon.svg">Not Verified</h3>
    </div>

    <div class="seller-info-container">
      <p *ngIf="sellerDetails.telephone1"><img src="assets/images/phone-icon.svg">{{sellerDetails?.telephone1}}</p>
      <p *ngIf="sellerDetails.telephone2"><img src="assets/images/phone-icon.svg">{{sellerDetails?.telephone2}}</p>
      <!--<p>{{sellerDetails?.address}}</p>-->
      <p><img src="assets/images/location-icon.svg">{{sellerDetails?.area}}</p>
    </div>
  </div>

<jewellery-full-option [products]="sellingList"></jewellery-full-option>

</div>
