/* line 3, seller.details.styles.scss */
.seller-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
/* line 9, seller.details.styles.scss */
.seller-details-container .seller-cover-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  background: url('../../../assets/images/seller-cover-image.jpg') fixed;
  background-size: cover;
}
/* line 18, seller.details.styles.scss */
.seller-details-container .seller-cover-img .overFlow-container {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #fff;
}
/* line 25, seller.details.styles.scss */
.seller-details-container .seller-cover-img .overFlow-container img {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
/* line 35, seller.details.styles.scss */
.seller-details-container .seller-cover-img .name-and-verification {
  display: flex;
  align-items: center;
}
/* line 38, seller.details.styles.scss */
.seller-details-container .seller-cover-img .name-and-verification h2 {
  color: #eee;
  margin-right: 5px;
}
/* line 42, seller.details.styles.scss */
.seller-details-container .seller-cover-img .name-and-verification h3 {
  color: #eee;
}
/* line 44, seller.details.styles.scss */
.seller-details-container .seller-cover-img .name-and-verification h3 img {
  height: 25px;
}
/* line 49, seller.details.styles.scss */
.seller-details-container .seller-cover-img .seller-info-container {
  display: flex;
}
/* line 52, seller.details.styles.scss */
.seller-details-container .seller-cover-img .seller-info-container p {
  height: 100%;
  background-color: #eee;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
/* line 59, seller.details.styles.scss */
.seller-details-container .seller-cover-img .seller-info-container p img {
  background-color: #8A6D67;
  border-radius: 20px;
  padding: 3px;
  width: 25px;
  margin-right: 5px;
}
/* line 66, seller.details.styles.scss */
.seller-details-container jewellery-full-option {
  width: 100%;
}

/*******************/
/*Responsive styles*/
/*******************/
@media screen and (max-width: 768px) {
  /* line 77, seller.details.styles.scss */
  .seller-details-container {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  /* line 83, seller.details.styles.scss */
  .seller-details-container {
    width: 95%;
  }
  /* line 86, seller.details.styles.scss */
  .seller-details-container .seller-cover-img .seller-info-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  /* line 90, seller.details.styles.scss */
  .seller-details-container .seller-cover-img .seller-info-container p {
    margin: 2px;
  }
}
