@import "../../../assets/stylesheets/colors-theme";

.seller-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $appWidth;
  margin: 0 auto;
  .seller-cover-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: image-url('seller-cover-image.jpg') fixed;
    background-size: cover;
    .overFlow-container {
      overflow: hidden;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      //border: 1px solid black;
      background-color: $bgcolor;
      img {
        //border-radius: 100%;
        width: 100%;
        //height: 150px;
        text-align: center;
        vertical-align: middle;
        //width: 100%;
        //height: 100%;
      }
    }
    .name-and-verification {
      display: flex;
      align-items: center;
      h2 {
        color: $grey;
        margin-right: 5px;
      }
      h3 {
        color: $grey;
        img {
          height: 25px;
        }
      }
    }
    .seller-info-container {
      display: flex;
      //border: 1px solid black;
      p {
        //border: 1px solid black;
        height: 100%;
        background-color: $grey;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        img {
          @include icon;
        }
      }
    }
  }

  jewellery-full-option {
    width: 100%;
    //border: 1px solid black;
  }
}

/*******************/
/*Responsive styles*/
/*******************/

@media screen and (max-width: 768px) {
  .seller-details-container {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .seller-details-container {
    width: $smallScreenWidth;
    .seller-cover-img {
      .seller-info-container {
        flex-direction: column;
        justify-content: flex-start;
        //border: 1px solid black;
        p {
          margin: 2px;
        }
      }
    }
  }
}












