///* You can add global styles to this file, and also import other style files */
//
@import "assets/stylesheets/colors-theme";

.form-validation-alert {
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px
  //height: 50px !important;
}

.submit {
  background-color: $ldcolor;
  cursor: pointer;
}

.close-btn {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.nav-auto-complete {
  //z-index: 50;
}
