/* line 2, dialogTemplate.scss */
.dialog-container {
  padding: 10px;
}

/* line 5, dialogTemplate.scss */
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* line 10, dialogTemplate.scss */
.buttons-container button {
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}
/* line 12, dialogTemplate.scss */
.buttons-container button:hover {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
