@import "compass";
@import "./colors-theme";

html {
  font-family: Helvetica, sans-serif;
  background-color: $grey;
  color: $mcolor;
  height: 100% !important;
  body {
    background-color: $grey;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    jewellery-store-app {
      height: 100%;
      display: flex;
      flex-direction: column;
      sllers-list {
        flex: 1;
      }
      seller-details {
        flex: 1;
      }
      jewellery-list {
        flex: 1;
      }
      jewellery-favourite {
        flex: 1;
      }
      customer-profile {
        flex: 1;
      }
    }
    h1 {
      margin-top: 0;
      text-transform: capitalize;
    }
    h2 {
      color: $darkBlue;
      text-transform: capitalize;
      font-weight: 400;
    }
    h3 {
      font-size: 1.2em;
      //text-transform: capitalize;
      font-weight: 400;
      color: $ldcolor;
    }
    h4 {
      font-size: 1em;
      color: $ldcolor;
      font-weight: 400;
    }
    button {
      border: none;
    }
    a:focus, button:focus {
      outline: none !important;
    }
  }
}
