/* line 4, styles.scss */
html {
  font-family: Helvetica, sans-serif;
  background-color: #eee;
  color: #75FF75;
  height: 100% !important;
}
/* line 9, styles.scss */
html body {
  background-color: #eee;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* line 15, styles.scss */
html body jewellery-store-app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* line 19, styles.scss */
html body jewellery-store-app sllers-list {
  flex: 1;
}
/* line 22, styles.scss */
html body jewellery-store-app seller-details {
  flex: 1;
}
/* line 25, styles.scss */
html body jewellery-store-app jewellery-list {
  flex: 1;
}
/* line 28, styles.scss */
html body jewellery-store-app jewellery-favourite {
  flex: 1;
}
/* line 31, styles.scss */
html body jewellery-store-app customer-profile {
  flex: 1;
}
/* line 35, styles.scss */
html body h1 {
  margin-top: 0;
  text-transform: capitalize;
}
/* line 39, styles.scss */
html body h2 {
  color: #455C7E;
  text-transform: capitalize;
  font-weight: 400;
}
/* line 44, styles.scss */
html body h3 {
  font-size: 1.2em;
  font-weight: 400;
  color: #586D8C;
}
/* line 50, styles.scss */
html body h4 {
  font-size: 1em;
  color: #586D8C;
  font-weight: 400;
}
/* line 55, styles.scss */
html body button {
  border: none;
}
/* line 58, styles.scss */
html body a:focus, html body button:focus {
  outline: none !important;
}
