/* line 3, seller.profile.styles.scss */
.seller-profile-container {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
}
/* line 8, seller.profile.styles.scss */
.seller-profile-container h2 {
  padding-top: 50px;
  margin: 0 0 0 50px;
}
/* line 12, seller.profile.styles.scss */
.seller-profile-container h3 {
  padding-left: 50px;
}
/* line 15, seller.profile.styles.scss */
.seller-profile-container button {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  color: #31004a;
  background-color: #F5D0CA;
  border: none;
  transition: 0.5s all;
}
/* line 20, seller.profile.styles.scss */
.seller-profile-container button svg {
  fill: #133759;
  transition: 0.5s all;
}
/* line 24, seller.profile.styles.scss */
.seller-profile-container button:hover {
  color: #F5D0CA;
  background-color: #31004a;
  transition: 0.5s all;
}
/* line 26, seller.profile.styles.scss */
.seller-profile-container button:hover svg {
  fill: white;
  transition: 0.5s all;
}

/*******************/
/*responsive styles*/
/*******************/
@media screen and (max-width: 1024px) {
  /* line 39, seller.profile.styles.scss */
  .seller-profile-container {
    background-color: transparent;
  }
  /* line 41, seller.profile.styles.scss */
  .seller-profile-container h2 {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 48, seller.profile.styles.scss */
  .seller-profile-container {
    width: 95%;
  }
}
